@media print
{
    .wrapper
    {
        display: grid;
        grid-gap: 20px;

        grid-template-areas:
        "topMenu"
        "main"
        "blogs"
    }

    .topMenu
    {
        grid-area: topMenu;
    }
    main
    {
        grid-area: main;
    }
    .blogs
    {
        background-color: red;
        grid-area:blogs;
    }
}