/*sections------------------------------------------------------------------- */
body 
{
    background-color: black;
}
.wrapper {
    background-color: darkgray;
    
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
main  {
    background-color: grey;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-size: x-large;
}
article	{
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    background-color: gray;
}
aside	{
}
footer {
}
header {
}
.post	{
}
nav	{
}
.topMenu	
{
    background-color: darkgray;
    
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;

}
#logo
{
    display: block;
    margin-left: auto;
    margin-right: 0px;
    float:right;
    width: 25%;
}
.blogImage
{
    display: block;
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
}
/*headings------------------------------------------------------------------- */
h1	{ 
    color:black;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}
h2	{
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}
h3 	{
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}
/*grouping------------------------------------------------------------------- */
p	{
}
blockquote	{
}
table   {
}
/*lists---------------------------------------------------------------------- */
ul	{
}
li	{
}
ol	{
}
dl	{
}
dt	{
}
dd	{
}
/*text------------------------------------------------------------------------ */
em	{
}
strong	{
}
small	{
}
cite	{
}
time	{
}
/*image----------------------------------------------------------------------- */
figure	{
}
figcaption	{
}
img	{
}
/*anchors--------------------------------------------------------------------- */
a:link	{
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    text-decoration: none;
}
a:visited {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}
a:hover {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    text-decoration: underline;
}
a:active {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}