/*sections------------------------------------------------------------------- */
body 
{
    background-color: #1a1a1a;
    color:white;
}
.wrapper {
    background-color: #1a1a1a;
    
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    /* padding-right: 10px;
    padding-left: 10px; */
    padding-bottom: 10px;
}
main  {
    background-color: #262626;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    font-size: large;
}
article	{
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    background-color: #262626;
}
aside	{
}
footer {
}
header {
}
.post	{
}
nav	{
}
.topMenu	
{
    background-color: #262626;
    
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;

}
.topMenu a
{
    background-color: #1a1a1a;
    padding:inherit;
    
}
.topMenu a:link
{
    color: white;
    text-decoration: none;
}
.topMenu a:visited
{
    color: white;
    text-decoration: none;
}
.topMenu a:hover
{
    color: white;
    background-color: #333333;
    text-decoration: none;
}
.logo
{
    display: block;
    margin-left: auto;
    margin-right: 0px;
    float:right;
    width: 25%;
    padding-right: 10px;
}
.blogImage
{
    display: block;
    width: 95%;
    padding-right: 10px;
    padding-left: 10px;
}
table, th, td {
    background-color: #262626;
    border: 1px solid;
  }
.buttonBar
{
    background-color: black;
    padding: 10px;
}
.sideimg
{
    width: 30%;
    float :right;

}


/*headings------------------------------------------------------------------- */
h1	{ 
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    text-align:left;
    padding: 10px;
    margin:0px;
}
h2	{
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}
h3 	{
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}
/*grouping------------------------------------------------------------------- */
p	{
}
blockquote	{
}
table   {
}
/*lists---------------------------------------------------------------------- */
ul	{
}
li	{
}
ol	{
}
dl	{
}
dt	{
}
dd	{
}
/*text------------------------------------------------------------------------ */
em	{
}
strong	{
}
small	{
}
cite	{
}
time	{
}
/*image----------------------------------------------------------------------- */
figure	{
}
figcaption	{
}
img	{
}
/*anchors--------------------------------------------------------------------- */
a:link	{
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    color:#3399ff;
    text-decoration: none;
}
a:visited {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    color:#cc00cc;
}
a:hover {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    text-decoration: underline;
}
a:active {
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}